<div class="col-sm-8">
  <h1>All Articles</h1>

  <div class="row row-cols-1 row-cols-md-3">
    <% @articles.each do |article| %>

    <div class="col mb-4">
      <div class="card h-100">
        <% if article.image.present? %> 
        <%= link_to image_tag(article.image.url(:large), class: "card-img-top"),
        article_path(article) %> <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <%= link_to article.title, article_path(article), class: "btn
          btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
