<div class="col-12"><div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class="display-4">Connexpat</h1>
<p class="lead">A community for expats in Tokyo.</p>
</div>
</div></div>

<div class="col-sm-12">
  <%= render partial: 'articles/all-articles' %>
</div>
