<div class="col-12"><div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class="display-4">Connexpat</h1>
<p class="lead">A community for expats in Tokyo.</p>
</div>
</div></div>

<div class="col-sm-8">
<h1>All Articles</h1>
<ul id="articles">
    <% @articles.each do |article| %>
        <li> 
        <% if article.image.present? %>
        <%= link_to image_tag(article.image.url(:thumb)), article_path(article) %>
        <% end %>
            <%= link_to article.title, article_path(article) %>
        </li>
    <% end %>
</ul>
</div>
